@model IEnumerable<Mark>
@using SchoolWeb.Utility

<table id="marksTable" align="right" class="table table-bordered mt-5">
    <tr>
        <th></th>
        <th>
            <span>النهائي</span>
        </th>
        <th>
            <span>المشاركة</span>
        </th>
        <th>
            <span>الشهر الثاني</span>
        </th>
        <th>
            <span>الشهر الأول</span>
        </th>
        <th>
            <span>المادة/العلامة</span>
        </th>
    </tr>
    @foreach (var mark in Model)
    {
        <tr id="@mark.Id">
            <td>
                <span class="tableActionButtons">
                    <a class="editButton btn p-sm-0"
                       asp-action="EditMark" asp-route-id="@mark.Id">
                        <p class="green-font font-weight-bold mt-1">تعديل</p>
                    </a>
                </span>
            </td>

            <td>@mark.FinalMark</td>

            <td>@mark.AssignmentsMark</td>

            <td>@mark.SecondMark</td>

            <td>@mark.FirstMark</td>

            <th>
                <span>@mark.Course.Name</span>
            </th>

        </tr>


    }
</table>

