<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Header.css" />
    <link rel="stylesheet" href="~/css/publicStyles.css" />
    @RenderSection("Css", required: false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md border-bottom box-shadow mb-3">
            <div class="container" style="flex-direction:row-reverse">
                <img src="~/images/schoolLogo.jpg" width="60px" height="60px" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">روضة جبل الأميرة رحمة</a>
                <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse">
                    @*<partial name="_LoginPartial" />*@
                    <ul class="navbar-nav flex-grow-1">


                        @{
                            string isActive(string pageName)
                            {
                                string active = ViewData["Active"].ToString();
                                if (pageName == active)
                                {
                                    return "pr-1 active-link";

                                }
                                return "";
                            }



                        }

                        <li class="nav-item pl-1 @isActive("login")">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                                تسجيل الدخول
                            </a>
                        </li>

                        <li class="nav-item pl-1 @isActive("aboutSchool")">
                            <a class="nav-link" asp-area="Public" asp-controller="AboutSchool" asp-action="Index">
                                عن الروضة
                            </a>
                        </li>

                        <li class="nav-item pl-1 @isActive("studentPortal")">
                            <a class="nav-link" asp-area="StudentPortal" asp-controller="Home" asp-action="Index">
                                بوابة الطالب
                            </a>
                        </li>

                        <li class="nav-item pl-1 @isActive("teacherPortal")">
                            <a class="nav-link" asp-area="TeacherPortal" asp-controller="Home" asp-action="Index">
                                بوابة المعلم
                            </a>
                        </li>

                        <li class="nav-item pl-1 @isActive("feesAndRegisteraion")">
                            <a class="nav-link" asp-area="Public" asp-controller="FeesAndRegisteration" asp-action="RegisterationDetails">
                                التسجيل و الرسوم
                            </a>
                        </li>
                        <li class="nav-item pl-1 dropdown @isActive("management") ">

                            <a class="nav-link dropdown-toggle dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-caret-down dropDownIcon"></i>
                                الإدارة
                            </a>

                            <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
                                <a asp-area="Admin" asp-controller="SchoolInfo" asp-action="Index">بيانات الروضة</a>
                                <a asp-area="Admin" asp-controller="Teachers" asp-action="Index">المعلمين</a>
                                <a asp-area="Admin" asp-controller="CoursesAndSections" asp-action="Courses">الصفوف و الحصص</a>
                                <a asp-area="Admin" asp-controller="Students" asp-action="StudentsInfo">الطلاب</a>
                            </div>
                        </li>


                        <li class="nav-item pl-1 @isActive("home")">
                            <a class="nav-link" asp-area="Public" asp-controller="Home" asp-action="Index">الرئيسية</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- footer-->

    <footer class="border-top footer text-white center">
        <div class="container row  pt-3 pb-3 pt-sm-4">

            <div class="col-md-4 col-sm-6 m-auto  ">
                <span class="d-block">
                    <p class="d-inline-block"> الزرقاء - جبل الأميرة رحمة - دوار القدس </p>
                    <i class="fas fa-map-marker-alt"></i>

                </span>
                <a class="d-block">
                    <p class="d-inline-block">الشكاوي والإقتراحات </p>
                    <i class="fas fa-comment"></i>

                </a>
            </div>

            <div class="col-md-4 col-sm-6 m-auto ">
                <span class="d-block">
                    <p class="d-inline-block"> rawdatrahma@yahoo.com </p>
                    <i class="fas fa-envelope"></i>

                </span>
                <span class="d-block">
                    <p class="d-inline-block">facebook.com/RwdtJblAlamyrtRhmt </p>
                    <i class="fab fa-facebook-f"></i>

                </span>
            </div>

            <div class="col-md-4  col-sm-7 m-auto  ">
                <span class="d-block">
                    <p class="d-inline-block"> 0786287411 </p>
                    <i class="fas fa-phone"></i>

                </span>
                <span class="d-block">
                    <p class="d-inline-block">03932221 </p>
                    <i class="fas fa-phone"></i>

                </span>
            </div>

        </div>
    </footer>


    <!-- scripts-->

    <script src="https://kit.fontawesome.com/87912b9913.js"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js" integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
